.git/

# Arquivos auxiliares do LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.pdf
*.brf
*.idx
*.ilg
*.ind
Rplots.pdf

# Arquivos temporários
*.tmp
*.bak
*~
